li {
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

img {
    max-width: 400px;
    max-height: 400px;
    margin-right: 20px;
    border: 1px;
    border-radius: 5%;
}

.contLi {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contCaracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
}