<title>Zodd Studios - Contacto</title>
<div class="container">
    <h1>Contacto</h1>
    <h6>¡Contáctanos!</h6>
    <p>
        En Zodd Studios, estamos apasionados por la creación de figuras únicas hechas con impresoras 3D y pintadas a
        mano. Si tienes alguna pregunta, sugerencia o simplemente quieres saludarnos, ¡no dudes en escribirnos! Estamos
        aquí para escucharte.

        ¡Esperamos recibir noticias tuyas pronto!</p>
    <form action="enviar.php" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="email">Correo electrónico:</label>
        <input type="text" id="email" name="email" required>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>