<section class="container">
    <h3 class="col-4">Carrito ({{cantCompras}})</h3>
    @if (cantCompras > 0) {
    <table class="table">
        <thead>
            <tr>
                <td>Figura</td>
                <td>Tamaño</td>
                <td>Precio</td>
                <td>Imagen</td>
                <td>Pintado</td>
                <td>Quitar</td>
            </tr>
        </thead>
        <tbody>
            @for (figura of listaCompras$|async; track figura.nombre) {
            <tr>
                <td>{{figura.nombre}}</td>
                <td>{{figura.tamanio}}cm</td>
                @if (figura.promo) {
                <td class="btn btn-success">{{figura.precio * 0.9 | currency}}</td>
                }
                @else {
                <td class="btn btn-warning">{{figura.precio | currency}}</td>
                }
                <td><img class="img img-thubnail" [src]="figura.img" [alt]="figura.nombre"></td>
                @if (figura.pintado) {
                <td>Si</td>
                }
                @else {
                    <td>No</td>
                }
                <td><button class="btn btn-danger" (click)="borrarFiguraDelCarro(figura)">Borrar</button></td>
            </tr>
            }
        </tbody>
    </table>
    }
    @if (cantCompras > 0) {
    <div class="containsBtnCompra">
        <button class="btn btn-primary">Finalizar compra</button>
    </div>
    }
</section>