.img{
    max-width: 75px;
    max-height: 75px;
}
.divCant{
    display: flex;
    flex-direction: row;
}
button{
    margin: 0px;
}
.containsBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: absolute;
	max-width: 40%;
	border-bottom-left-radius: 20px;
    left: 60%;
    top:70px;
}
.containsBtnCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
@keyframes traer-carrito {
	0% {
		right: 100%;
	}

	100% {
		right: 60%;
	}
}

@keyframes quitar-carrito {
	0% {
		right: 60%;
	}

	100% {
		right: 100%;
	}
}

.desaparecerMenu {
	animation: quitar-menu 0.5s forwards;
}

.aparecerMenu {
	animation: traer-menu 0.5s forwards;
}