<h1>Lista de figuras</h1>
<table class="table">
    <thead>
        <tr>
            <td>Figura</td>
            <td>Tamanio</td>
            <td>Precio</td>
            <td>Imagen</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        @for (fig of figuras; track fig.nombre) {
        <tr>
            <td>{{fig.nombre}}</td>
            <td>{{fig.tamanio}}</td>
            @if (fig.promo) {
            <td class="btn btn-success espacioDelante">{{fig.precio | currency}}</td>
            }
            @else {
            <td class="btn btn-danger btnEliminarNegar">{{fig.precio | currency}}</td>
            }
            <td><img class="img" [src]="fig.img" [alt]="fig.nombre"></td>
            @if (fig.stock > 0) {
            <td>{{fig.stock}}</td>
            }
            @else {
            <td>No hay stock</td>
            }
        </tr>
        }
        <tr>
            <td>Baki</td>
            <td>15cm</td>
            <td>$18000</td>
            <td></td>
            <td>2</td>
        </tr>
        <tr>
            <td>Coraline</td>
            <td>20cm</td>
            <td>$28000</td>
            <td></td>
            <td>4</td>
        </tr>
    </tbody>
</table>