<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <nav class="navbar-nav ">
        <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
        <a class="nav-link" [routerLink]="['/abaut']">Figuras destacadas</a>
        <a class="nav-link" [routerLink]="['/abaut']">Contacto</a>
      </nav>
    </div>
  </div>
</nav>
<div>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <h5>{{title}} 2024</h5>
</footer>