<div class="contBody">
  <div class="contNav">
    <a class="nav-link" aria-current="page" [routerLink]="['/']"><img class="logo" src="assets/img/logotipo/logo3.jpg"
        alt="logo"></a>
    <nav class="nav">
      <a class="nav-link" aria-current="page" [routerLink]="['/']">Home</a>
      <a class="nav-link" aria-current="page" [routerLink]="['/compras']">Compras</a>
      <a class="nav-link" aria-current="page" [routerLink]="['/abaut']">Figuras destacadas</a>
      <a class="nav-link" aria-current="page" [routerLink]="['/contacto']">Contacto</a>
    </nav>
    <div class="contUser">
      <p class="userName">Francisco Lopez</p>
      <img class="logoUser" src="assets/img/iconos/user.jpg" alt="UserIcon">
      <img class="logoCarrito" id="btncarrito" src="assets/img/iconos/carrito.png" alt="CarritoIcon">
      <p class="userName">({{cantCarrito}})</p>
    </div>
    <app-carrito id="appCarrito" class="desaparecer"></app-carrito>
  </div>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <h5>{{title}} 2024</h5>
  </footer>
</div>