<h1>Lista de figuras</h1>
<table class="table">
    <thead>
        <tr>
            <td>Figura</td>
            <td>Tamanio</td>
            <td>Precio</td>
            <td>Imagen</td>
            <td>Stock</td>
            <td>Compra</td>
        </tr>
    </thead>
    <tbody>
        @for (figura of figuras; track figura.nombre) {
        <tr>
            <td>{{figura.nombre}}</td>
            <td>{{figura.tamanio}}cm</td>
            @if (figura.promo) {
            <td class="btn btn-success espacioDelante">{{figura.precio | currency}}</td>
            }
            @else {
            <td class="btn btn-danger btnEliminarNegar">{{figura.precio | currency}}</td>
            }
            <td><img class="img img-thubnail" [src]="figura.img" [alt]="figura.nombre"></td>
            @if (figura.stock > 0) {
            <td>{{figura.stock}}</td>
            <td>
                <app-input-integer [(cantidadPedido)]="figura.cantidadPedido" [max]="figura.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            }
            @else {
            <td>No hay stock</td>
            }
            <td>
            <button class="btn btn-dark" (click)="agregarFiguraAlCarrito(figura)">Agregar al carrito</button>
            </td>
        </tr>
        }
        <tr>
            <td>Baki</td>
            <td>15cm</td>
            <td>$18000</td>
            <td></td>
            <td>2</td>
            <td>
                <div class="divCant">
                    <button>-</button>
                    <button class="btn">0</button><button>+</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Coraline</td>
            <td>20cm</td>
            <td>$28000</td>
            <td></td>
            <td>4</td>
            <td>
                <div class="divCant"><button>-</button>
                    <button class="btn">0</button><button>+</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>