<section class="container">
    <h1>Lista de figuras</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Figura</td>
                <td>Tamaño</td>
                <td>Precio</td>
                <td>Imagen</td>
                <td>Compra</td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (figura of figuras; track figura.nombre) {
            <tr>
                <td>{{figura.nombre}}</td>
                <td>{{figura.tamanio}}cm</td>
                @if (figura.promo) {
                <td class="btn btn-success espacioDelante">{{figura.precio *0.9| currency}}</td>
                }
                @else {
                <td class="btn btn-outline-warning btnEliminarNegar">{{figura.precio | currency}}</td>
                }
                <td><img class="img img-thubnail" [src]="figura.img" [alt]="figura.nombre"></td>
                <td>
                    <button class="btn btn-dark" (click)="agregarAlForm(figura)">Elegir</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>