.container{
    background-color: white;

}
.img{
    max-width: 75px;
    max-height: 75px;
    border-radius: 5px;
}
.divCant{
    display: flex;
    flex-direction: row;
}
button{
    margin: 0px;
}