<section class="container">
    <div class="title">Bienvenido a Zodd Studios</div>
    <div class="service">
        <div>
            <p>En ZoddStudios, estamos encantados de ofrecerte servicios de impresión 3D personalizados. Si tienes
                un
                archivo STL que deseas convertir en una pieza física, ¡estamos aquí para ayudarte!
                Envía tu Archivo STL: Simplemente carga tu archivo STL a través de nuestro sitio web. Asegúrate de
                incluir cualquier especificación adicional que tengas en mente.</p>
            <ul>
                <li>Tamaño: Indícanos las dimensiones exactas que deseas para tu impresión.
                </li>
                <li> Material: Ofrecemos una variedad de materiales, desde plásticos hasta resinas. Cuéntanos tus
                    preferencias.</li>
                <li>Especificaciones Extra: Si necesitas detalles específicos, como acabados superficiales o
                    estructuras
                    internas, háznoslo saber.</li>
            </ul>
            <p>¡Confía en ZoddStudios para llevar tus diseños del mundo virtual al mundo real! Contáctanos hoy mismo
                para comenzar.</p>
        </div>
        <img src="assets/img/servicioArchivo.jpeg" alt="Impresión 3D con archivo">
    </div>
    <div class="service">
        <img src="assets/img/stlApedido.jpeg" alt="Figuras personalizadas">
        <div>
            <p>En ZoddStudios, ofrecemos un servicio de impresión 3D que te permite elegir piezas directamente desde
                nuestro catálogo. Aquí están los detalles:</p>
            <ul>
                <li>Tamaño: Indícanos las dimensiones exactas que deseas para cada pieza.</li>
                <li>Ensamblaje o Piezas Separadas: ¿Prefieres recibir las piezas ensambladas o en partes separadas?
                    Cuéntanos tus preferencias.</li>
                <li>Acabado: Puedes elegir entre piezas pintadas o en color gris (sin pintar).</li>
            </ul>
            <p>Calidad Garantizada: Nuestro equipo se asegurará de que cada pieza cumpla con los más altos
                estándares de impresión.</p>
            <p>Entrega Rápida: Una vez seleccionadas las piezas, nos encargamos de la impresión y el envío.</p>
        </div>
    </div>
    <div class="service">
        <div>
            <p>Figuras 3D Personalizadas en ZoddStudios
                En ZoddStudios, nos apasiona la creación de figuras 3D únicas y detalladas. Nuestro servicio de
                ventas
                ofrece piezas completamente realizadas, pintadas y con tamaños específicos para satisfacer tus
                necesidades. </p>
            <ul>
                <li>Diseño a Medida: A partir de una simple imagen de referencia, materializamos tus personajes
                    favoritos o tus propios diseños imaginativos en figuras 3D. Mantenemos proporciones similares a
                    la
                    realidad para una apariencia auténtica.</li>
                <li>Pintura Detallada: Nuestro equipo de artistas se encarga de pintar cada figura con precisión.
                    Desde
                    colores vibrantes hasta detalles sutiles, garantizamos un acabado visualmente impactante.</li>
            </ul>
            <p> Ya sea para coleccionar, decorar o regalar, nuestras figuras 3D personalizadas son una opción
                perfecta.
                ¡Contáctanos para obtener tu cotización hoy mismo! 😊
            </p>
        </div>
        <img src="assets/img/Jujutsu0.jpg" alt="Venta de figuras 3D">
    </div>
</section>